APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = testUSERNAME = usernamePASSWORD = passwordHOSTPORT = 3306CHARSET = utf8DEBUG = true[LANG]default_lang = zh-cn[ES]HOST = 106.14.143.139PORT = 8901[ORACLE]DSN = 127.0.0.1/orclUSER = testPSW = 123456[IMAGE]DOMAIN = www.test.comTHUMB = images/thumbsNOPIC = images/default/empty.jpg[REDIS]RDHOST = 127.0.01RDPORT = 6379RDPASSWD =